.box2{
    width: 100%;
    height: 757px;
    overflow: auto;
}
.box{
    display: flex;
    box-shadow: 0 0 3px rgb(132, 131, 131);
    margin: 20px;
}
.box-image{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-image img{
    width: 100%;
    border: none;
}
.box-title{
    width: 80%;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-left: 15px;
}
.box-title h6{
    font-size: 18px;
    margin: 0;
}
.box-title p{
    font-size: 12px;
    margin: 0;
}
.box-title ul{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0;
    margin-top: 5px;
}
.box-title li{
    font-size: 12px;
}
.box-title a{
    text-decoration: none;
}
.box-title a:hover{
    color: blue;
}
.box1-2-tag button{
    border: none;
    color: blue;
}
.box1-2-tag button:hover{
    color: rgb(5, 5, 164);
    background-color: rgb(206, 203, 203);
}
.uploaditems{
    padding: 20px;
}
.uploaditems input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.uploadbutton{
    display: flex;
}
.uploadbutton button{
    height: 30px;
    width: 150px;
    border: none;
    background-color: brown;
    color: white;
}
.uploadbutton button:hover{
    background-color: rgb(114, 22, 22);
}
.editItems{
    border: 2px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    padding: 40px;
}
.editImage{
    width: 30%;
}
.editDetails{
    width: 70%;
}
