.container-fluid{
    background-color: rgba(229, 229, 229, 0.117);
}
.checkout-row{
    padding: 5%;   
    padding-top: 40px;
}
.items{
    display: block;
    background-color: white;
}
.items h4{
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(227, 227, 227);
    margin-bottom: 0;
}
.summary{
    padding: 10px;
    border-top: none;
}
.items label{
    font-size: 18px;
    font-weight: 200;
}
.labels input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}
.buttons-label{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.image-input input{
    height: 250px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}
.quantity-input input{
    box-shadow: 0 0 15px rgba(152, 8, 8, 1);
    border: 2px solid black;
    margin-top: 10px;
}
.amount-input input{
    color: rgb(225, 72, 21);
}
.customer-info{
    display: block;
    background-color: white;
}
.customer-info h4{
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(75, 75, 75);
    margin-bottom: 0;
    color: white;
    font-weight: 300;
    text-align: center;
    overflow: auto;
}
.customer-info label{
    font-size: 18px;
    font-weight: 200;
}
.customer-info2{
    box-shadow: 0 0 2px black;
    padding: 40px;
    margin-top: 10px;
    background-color: white;
}
.customer-info2 input{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.payment-buttons{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.payment-buttons button{
    margin-left: 20px;
}
.payment-options{
    box-shadow: 0 0 2px black;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
}
.payment-container{
    padding: 10px;
    background-color: rgb(227, 227, 227);
}
